--ignore-errors --continue --no-hls-use-mpegts --no-overwrites --no-progress --no-mark-watched --no-call-home --all-subs --sub-format "srt/best" --write-description --write-thumbnail --download-archive youtube-dl_done.txt --batch-file youtube-dl_playlist.txt --yes-playlist --trim-filenames 180 --cookies-from-browser firefox -o %(title)s-%(id)s.%(ext)s
